.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header ul {
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto; /* This allows the area to be scrollable */
  height: 100vh; /* This sets the maximum height of the area */
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  padding: 1em;
  margin: 0;
  background-color: #f8f9fa;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
