{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions",
            "Explorer >= 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-template-literals", {
      "loose": true
    }],
    "version"
  ],
  "env": {
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "npm": {
      "ignore": [
        "src/baseCode.js",
        "src/standalone.js"
      ],
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", {
          "strict": true,
          "noInterop": true
        }]
      ]
    }
  }
}
