node_modules
dist
coverage
.sonarlint
.env
.eslintcache
allure
logs
*.log*
distTest
libEs5
libEs6
packages/browser/src/input.js
artifacts
__screenshots__/
adobe-alloy-*.tgz
.parcel-cache

# Ignore auto generated types
types/
.scannerwork
changeset-status.json
