dist: trusty
sudo: required
language:
- node_js

node_js:
- '10'

cache:
  directories:
    - ~/.npm
    - node_modules

install:
- npm install -g allure-commandline

cache:
  directories:
  - node_modules

addons:
  sauce_connect: true
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable fluxbox
  sonarcloud:
    organization: "adobeinc"

before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
- fluxbox >/dev/null 2>&1 &

script:
- npm install
- npm run test:slreport
- npm run functional:ci
- npm run checkbundlesize
# - sonar-scanner

jobs:
  include:
    - stage: Deploy Allure Report
      deploy:
        provider: azure_web_apps
        skip_cleanup: true
        verbose: true
        local-dir: ./test/allure/allure-report/
        site: adobealloy

notifications:
  slack:
    secure: WmlaV3SmsMF5h+47uN+G0jQLT3Ja1FQ9q1tW1bGTPAY/UDwp18qVgBeOzo4MaF9ISvcdk1rEK73xhlvdXrymShQKezFlx3W/ePBYKnGyBC8FuSoQEvb+GUNBwt1qzLg3CrHsdcOxGJxZg6UBWp7uBywe4cFbY5oQDOYwVkhrZVHxaJ9KR4lR0Dk/9vDLSVUnLtYiZxQfyg+WZIcCowAhIasp74ZdSFq9Bmamv3b/vdWQRuJRtIbmxjFKvm9T4zCHPAcRFNQ/yzAL7UINVEE8JF1ejIbdl3lVKkKCrMp8L8d7hAZGVClU9Vg3UQ+NK46eAC+qMnY5KPoKkrCsxBqUJ8RIp+D4NLTuYC5ItgUEsb9FTtDib/4XVHXnbLWVLQ+d1ySIVZvnVd/Uk+HkkYAEWs1ZFa+LM7vx0j4qkcoOZY0DTTGsO1D/dBnSiRlBbIuXDbTaAvtQoMxREf4Tu/IzRf0+QR0V/aR9sV61DXFeJdjbsEhfUrryY4DENCwRbhuqpNyI/of/YpRakXjtiVF89hs9XiXzBecfj6F1Hvl/5AHFr/Xa6UEXx/Q+DLvOSOIFAfgsLQA4f+crWz0DQpzGR8kNOKQ3H8m+BXHS/VOf1AmKZAQbPYyaJp/6Lg0jYNzpwdgw6hoYwNky2gAzZ2P1NxUS6FX1OpsvFkE5MyHnHiw=
