dist: xenial
os: linux
language: node_js
node_js: 'stable'
install:
- npm i -g npm
addons:
  chrome: stable
  firefox: latest
  sonarcloud:
    organization: adobeinc
services:
- xvfb

jobs:
  include:
      - stage: CRON build
        script:
        - if [ "$TRAVIS_EVENT_TYPE" == "cron" ]; then npm run functional:cron:prod; fi
      - stage: PR build
        script:
        - npm ci
        - if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run build:prod; fi
        - if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run functional:ci; fi
        - if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run functional:ci:bs; fi
        - if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run test:saucelabs; fi
      - stage: API/Konductor Build
        if: type == api
        script: echo "KONDUCTOR BUILD"

notifications:
  slack: adobedx:AlI4WB2ojGDcqsBEVZ1EGsCR
  email:
    recipients:
      - mowla@adobe.com
      - khoury@adobe.com
      - aahardy@adobe.com
      - alloy-engs@adobe.com
      - ee-konductor-engineering@adobe.com
    on_failure: always
  
before_install:
- stty cols 80