/* =============================================================================
   HEADER (components/_header.scss)
   ========================================================================== */

.c-header {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
