/* =============================================================================
   LOGO (components/_logo.scss)
   ========================================================================== */

.c-logo {
	font-size: 1.875rem;
	font-weight: $font-weight-semibold;
	transition: color .2s;
}

.c-logo__link {
	@extend .o-link-bare;
}
