@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
$font: "Open Sans", sans-serif;

$border-radius: 5px;

$chatInputHeight: 71px;
$headerHeight: 80px;
$sidebarWidth: 220px;

// RWD
$tablet: 810px;
$mobile-L: 568px;
$mobile-H: 375px;

$color-white: #efefef;

// Halloween Edition
// Colors
// $color-primary: #000000;
// $color-secondary: rgb(21, 30, 3);
// $color-accent: rgb(153, 84, 31);
// $color-accent-secondary: rgb(185, 136, 246);
// $color-logoutBtn: #aa0715ae;
// $color-logoutBtnHover: #c32929;

// // Winter Edition
// $color-primary: #054a22;
// $color-secondary: #990306;
// $color-accent: #e7a118;
// $color-accent-secondary: #054a22;
// $color-logoutBtn: #c58006;
// $color-logoutBtnHover: #e7a118;

// OG Colors
// $color-primary: #121212;
// $color-secondary: #1f1b24;
// $color-accent: #577399;
// $color-accent-secondary: rgb(185, 136, 246);
// $color-logoutBtn: #aa0715ae;
// $color-logoutBtnHover: #c32929;

// Improved dark mode
$color-primary: rgb(18, 18, 18);
$color-secondary: rgb(30, 30, 30);
$color-lightGray: #7c7c7c;
$color-accent: rgb(78, 120, 183);
$color-accent-secondary: rgb(252, 45, 110);
$color-logoutBtn: #e84545;
$color-logoutBtnHover: #f95656;