$primary: #ededed;
$primary-dark: #bfbfbf;

$grey: rgb(246, 248, 250);

$green: rgb(90, 190, 111);
$blue: rgb(41, 107, 225);
$orange: rgb(243, 170, 60);
$cyan: rgb(98, 213, 210);

$white: white;
$black: black;
$dark: hsl(0, 0%, 20%);
