@import "../../styles/shared/mixins.scss";
@import "../../styles/shared/color.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;@import "../../styles/shared/mixins.scss";
  @import "../../styles/shared/color.scss";

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;

    @include respond-to("medium") {
      width: 95vw;
    }

    @include respond-to("large") {
      width: 75rem;
    }
  }

  .container {
    position: relative;
  }

  .main {
    font-size: 0.875rem;
    margin-bottom: 5rem;
    position: relative;
    transform: translateX(0%);

    transition: transform 0.4s ease-in-out;

    &.navToggled {
      transform: translateX(100%);

      @include respond-to("small") {
        transform: translateX(65%);
      }
    }

    @include respond-to("medium") {
      transform: translateX(0%);
      width: calc(95% - 15.3125rem);
    }
  }

  .arg {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-weight: 700;

    &.required::after {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 0.75rem;
      display: block;
      content: "Required";
      color: $blue;
    }
  }

  .table {
    margin-bottom: 0.75rem;

    .header {
      font-weight: 600;
    }

    .row {
      display: flex;
      justify-content: space-between;

      > div {
        padding: 0.5rem 1rem 0.5rem 0;
        flex-basis: 25%;

        a {
          font-weight: 600;
        }

        &:last-of-type {
          flex-basis: 50%;
        }
      }

      + .row {
        border-top: 1px solid rgba($dark, 0.5);
      }

      &:nth-child(2) {
        border-top: 2px solid $blue;
      }
    }
  }

  .button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $white;
    font-weight: 700;
    background-color: $blue;
    width: 6.375rem;
    margin-left: 0.675rem;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .value {
    padding: 0.5rem;
    width: 75%;
    border: 1px solid $dark;

    &.inputErr {
      border-color: $primary;
    }

    .subresource & {
      width: auto;
    }
  }

  .err {
    color: $primary;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .public,
  .private {
    display: flex;
    align-items: flex-start;

    &::after {
      content: "public";
      font-size: 0.6875rem;
      line-height: 1em;
      color: $white;
      background: $green;
      border-radius: 0.4rem;
      padding: 0.2rem 0.4rem;
      font-weight: 700;
      margin-left: 0.625rem;
      display: block;
    }
  }

  .private::after {
    content: "private";
    background: $primary-dark;
  }

  .private.public::after {
    content: "private / public";
    background: $blue;
  }

  .hidden {
    display: none;
  }

  // Loading spinner
  .spinner {
    width: 70px;
    text-align: center;
  }

  .spinner > div {
    width: 10px;
    height: 10px;
    margin: 0 1px;
    background-color: $white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .filterOptions {
    margin: 0;
    padding-left: 1.5rem;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinnerDark > div {
    background-color: $primary-dark;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;

    @include respond-to("medium") {
      width: 95vw;
    }

    @include respond-to("large") {
      width: 75rem;
    }
  }

  .container {
    position: relative;
  }

  .main {
    font-size: 0.875rem;
    margin-bottom: 5rem;
    position: relative;
    transform: translateX(0%);

    transition: transform 0.4s ease-in-out;

    &.navToggled {
      transform: translateX(100%);

      @include respond-to("small") {
        transform: translateX(65%);
      }
    }

    @include respond-to("medium") {
      transform: translateX(0%);
      width: calc(95% - 15.3125rem);
    }
  }

  .arg {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-weight: 700;

    &.required::after {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 0.75rem;
      display: block;
      content: "Required";
      color: $blue;
    }
  }

  .table {
    margin-bottom: 0.75rem;

    .header {
      font-weight: 600;
    }

    .row {
      display: flex;
      justify-content: space-between;

      > div {
        padding: 0.5rem 1rem 0.5rem 0;
        flex-basis: 25%;

        a {
          font-weight: 600;
        }

        &:last-of-type {
          flex-basis: 50%;
        }
      }

      + .row {
        border-top: 1px solid rgba($dark, 0.5);
      }

      &:nth-child(2) {
        border-top: 2px solid $blue;
      }
    }
  }

  .button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $white;
    font-weight: 700;
    background-color: $blue;
    width: 6.375rem;
    margin-left: 0.675rem;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .value {
    padding: 0.5rem;
    width: 75%;
    border: 1px solid $dark;

    &.inputErr {
      border-color: $primary;
    }

    .subresource & {
      width: auto;
    }
  }

  .err {
    color: $primary;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .public,
  .private {
    display: flex;
    align-items: flex-start;

    &::after {
      content: "public";
      font-size: 0.6875rem;
      line-height: 1em;
      color: $white;
      background: $green;
      border-radius: 0.4rem;
      padding: 0.2rem 0.4rem;
      font-weight: 700;
      margin-left: 0.625rem;
      display: block;
    }
  }

  .private::after {
    content: "private";
    background: $primary-dark;
  }

  .private.public::after {
    content: "private / public";
    background: $blue;
  }

  .hidden {
    display: none;
  }

  // Loading spinner
  .spinner {
    width: 70px;
    text-align: center;
  }

  .spinner > div {
    width: 10px;
    height: 10px;
    margin: 0 1px;
    background-color: $white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .filterOptions {
    margin: 0;
    padding-left: 1.5rem;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinnerDark > div {
    background-color: $primary-dark;
  }


  @include respond-to("medium") {
    width: 95vw;
  }

  @include respond-to("large") {
    width: 75rem;
  }
}

.container {
  position: relative;
}

.main {
  font-size: 0.875rem;
  margin-bottom: 5rem;
  position: relative;
  transform: translateX(0%);

  transition: transform 0.4s ease-in-out;

  &.navToggled {
    transform: translateX(100%);

    @include respond-to("small") {
      transform: translateX(65%);
    }
  }

  @include respond-to("medium") {
    transform: translateX(0%);
    width: calc(95% - 15.3125rem);
  }
}

.arg {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-weight: 700;

  &.required::after {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    display: block;
    content: "Required";
    color: $blue;
  }
}

.table {
  margin-bottom: 0.75rem;

  .header {
    font-weight: 600;
  }

  .row {
    display: flex;
    justify-content: space-between;

    > div {
      padding: 0.5rem 1rem 0.5rem 0;
      flex-basis: 25%;

      a {
        font-weight: 600;
      }

      &:last-of-type {
        flex-basis: 50%;
      }
    }

    + .row {
      border-top: 1px solid rgba($dark, 0.5);
    }

    &:nth-child(2) {
      border-top: 2px solid $blue;
    }
  }
}

.button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $white;
  font-weight: 700;
  background-color: $blue;
  width: 6.375rem;
  margin-left: 0.675rem;

  &:active,
  &:focus {
    outline: none;
  }
}

.submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.value {
  padding: 0.5rem;
  width: 75%;
  border: 1px solid $dark;

  &.inputErr {
    border-color: $primary;
  }

  .subresource & {
    width: auto;
  }
}

.err {
  color: $primary;
  font-weight: 600;
  font-size: 0.875rem;
}

.public,
.private {
  display: flex;
  align-items: flex-start;

  &::after {
    content: "public";
    font-size: 0.6875rem;
    line-height: 1em;
    color: $white;
    background: $green;
    border-radius: 0.4rem;
    padding: 0.2rem 0.4rem;
    font-weight: 700;
    margin-left: 0.625rem;
    display: block;
  }
}

.private::after {
  content: "private";
  background: $primary-dark;
}

.private.public::after {
  content: "private / public";
  background: $blue;
}

.hidden {
  display: none;
}

// Loading spinner
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  margin: 0 1px;
  background-color: $white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.filterOptions {
  margin: 0;
  padding-left: 1.5rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnerDark > div {
  background-color: $primary-dark;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;

@include respond-to("medium") {
  width: 95vw;
}

@include respond-to("large") {
  width: 75rem;
}
}

.container {
  position: relative;
}

.main {
  font-size: 0.875rem;
  margin-bottom: 5rem;
  position: relative;
  transform: translateX(0%);

  transition: transform 0.4s ease-in-out;

&.navToggled {
   transform: translateX(100%);

@include respond-to("small") {
  transform: translateX(65%);
}
}

@include respond-to("medium") {
  transform: translateX(0%);
  width: calc(95% - 15.3125rem);
}
}

.arg {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-weight: 700;

&.required::after {
   font-family: "Source Sans Pro", sans-serif;
   font-weight: 600;
   font-size: 0.75rem;
   display: block;
   content: "Required";
   color: $blue;
 }
}

.table {
  margin-bottom: 0.75rem;

.header {
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;

> div {
  padding: 0.5rem 1rem 0.5rem 0;
  flex-basis: 25%;

a {
  font-weight: 600;
}

&:last-of-type {
   flex-basis: 50%;
 }
}

+ .row {
  border-top: 1px solid rgba($dark, 0.5);
}

&:nth-child(2) {
   border-top: 2px solid $blue;
 }
}
}

.button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $white;
  font-weight: 700;
  background-color: $blue;
  width: 6.375rem;
  margin-left: 0.675rem;

&:active,
&:focus {
   outline: none;
 }
}

.submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.value {
  padding: 0.5rem;
  width: 75%;
  border: 1px solid $dark;

&.inputErr {
   border-color: $primary;
 }

.subresource & {
  width: auto;
}
}

.err {
  color: $primary;
  font-weight: 600;
  font-size: 0.875rem;
}

.public,
.private {
  display: flex;
  align-items: flex-start;

&::after {
   content: "public";
   font-size: 0.6875rem;
   line-height: 1em;
   color: $white;
   background: $green;
   border-radius: 0.4rem;
   padding: 0.2rem 0.4rem;
   font-weight: 700;
   margin-left: 0.625rem;
   display: block;
 }
}

.private::after {
  content: "private";
  background: $primary-dark;
}

.private.public::after {
  content: "private / public";
  background: $blue;
}

.hidden {
  display: none;
}

// Loading spinner
   .spinner {
     width: 70px;
     text-align: center;
   }

.spinner > div {
  width: 10px;
  height: 10px;
  margin: 0 1px;
  background-color: $white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.filterOptions {
  margin: 0;
  padding-left: 1.5rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnerDark > div {
  background-color: $primary-dark;
}
