<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Target SPA Demo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://wwwimages2.adobe.com/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
  <link rel="stylesheet" href="assets/css/base.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script>
    !function(n,o){o.forEach(function(o){n[o]||((n.__alloyNS=n.__alloyNS||
      []).push(o),n[o]=function(){var u=arguments;return new Promise(
      function(i,l){n[o].q.push([i,l,u])})},n[o].q=[])})}
    (window,["alloy"]);

    alloy("configure", {
      "edgeConfigId": "{{edgeConfigId}}",
      "orgId":"{{orgId}}",
      "context": ["web"],
      "debugEnabled": false
    });

    alloy("applyResponse", {{safeString applyResponseParam}});
  </script>
  <script src="alloy.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script src="assets/js/app.js"></script>
</body>
</html>
