#This configuration will be used by the Edge team to test against prod.

name: Pre-Edge-Deploy
on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'

jobs:
  alloy-prod-e2e:
    name: "Pre Edge: Prod E2E Tests"
    runs-on: macos-latest
    steps:
      - name: Serialize workflow runs
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Get latest Alloy Release"
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          exclude_types: "draft|prerelease"
      - uses: actions/checkout@v2.3.3
        with:
          ref: ${{ steps.last_release.outputs.tag_name }}
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run test:functional:ci:build
      - name: 'BrowserStack Env Setup'
        uses: 'browserstack/github-actions/setup-env@master'
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - name: 'BrowserStackLocal Setup'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: start
          local-identifier: random
      - name: Run TestCafe Tests
        run: |
          chmod +x "${GITHUB_WORKSPACE}/scripts/clearBrowserStackJobs.sh"
          "${GITHUB_WORKSPACE}/scripts/clearBrowserStackJobs.sh"
          npm run test:functional:ci:edgepredeploy
      - name: 'BrowserStackLocal Stop'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: stop
