name: Pre-Deploy
on: workflow_dispatch
      
jobs:
  e2e-test:
    name: "E2E Alloy Int - Edge Prod"
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: "main"
    - uses: actions/cache@v2
      id: npm-cache
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
    - name: Install dependencies
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm ci
    - name: Build
      run: npm run test:functional:ci:build
    - name: 'BrowserStack Env Setup'
      uses: 'browserstack/github-actions/setup-env@master'
      with:
        username:  ${{ secrets.BROWSERSTACK_USERNAME }}
        access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
    - name: 'BrowserStackLocal Setup'
      uses: 'browserstack/github-actions/setup-local@master'
      with:
        local-testing: start
        local-identifier: random
    - name: Run TestCafe Tests
      run: |
        npm run test:unit:browserstack:ci
        chmod +x "${GITHUB_WORKSPACE}/scripts/clearBs.sh"
        npm run test:functional:ci:predeploy
    - name: 'BrowserStackLocal Stop'
      uses: 'browserstack/github-actions/setup-local@master'
      with:
        local-testing: stop
