name: Pre-Edge-Deploy
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
env:
  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
  SAUCE_CAPABILITIES_OVERRIDES_PATH: 'sauceLabsCapabilities.json'
  ALLOY_ENV: prod
  EDGE_BASE_PATH: ee-pre-prd
jobs:
  alloy-prod-e2e:
    name: "Pre Edge: Prod E2E Tests"
    runs-on: ubuntu-latest
    steps:
      - name: "Get latest Alloy Release"
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          exclude_types: "draft|prerelease"
      - uses: actions/checkout@v2.3.3
        with:
          ref: ${{ steps.last_release.outputs.tag_name }}
      - name: Get version from package
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}-${{ secrets.NPM_CACHE_VERSION }} # increment NPM_CACHE_VERSION secret to force cache reset
      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run test:functional:build:prod
      - name: Run TestCafe Tests
        run: npx testcafe -q -c 5 'saucelabs:Chrome@latest:macOS 11.00','saucelabs:IE@latest:Windows 10','saucelabs:Firefox@latest:Windows 10','saucelabs:Safari@latest:macOS 11.00'
        env:
          ALLOY_PROD_VERSION: ${{ steps.package-version.outputs.current-version }}