name: Prod
on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        SAUCE_JOB: "Alloy Prod Workflow"
        SAUCE_CAPABILITIES_OVERRIDES_PATH: 'sauceLabsCapabilities.json'
        ALLOY_ENV: prod

jobs:
  alloy-prod-e2e:
    name: "Cron: Prod E2E Tests"
    runs-on: ubuntu-latest
    steps:
      - name: "Get latest Alloy Release"
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          exclude_types: "draft|prerelease"
      - uses: actions/checkout@v2.3.3
        with:
          ref: ${{ steps.last_release.outputs.tag_name }}
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run test:functional:build:prod
      - name: Run TestCafe Tests
        run: npx ALLOY_PROD_VERSION="./scripts/getProdVersion.js" testcafe -q -c 5 'saucelabs:Chrome@latest-1:macOS 11.00','saucelabs:IE@11.285:Windows 10','saucelabs:Firefox@latest:Windows 10','saucelabs:Safari@latest:macOS 11.00'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - uses: craftech-io/slack-action@v1
      #   with:
      #     slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      #     status: failure
      #   if: failure()