name: Prod
on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
env:
  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
  SAUCE_JOB: "Alloy Prod Workflow"
  SAUCE_CAPABILITIES_OVERRIDES_PATH: 'sauceLabsCapabilities.json'
  ALLOY_ENV: prod

jobs:
  get-testing-tags:
    name: Fetch releases
    runs-on: ubuntu-latest
    outputs:
      matrix-input: ${{ steps.list-tags.outputs.matrix-input }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: npm install @octokit/rest semver
      - name: Retrieve tags
        id: list-tags
        uses: actions/github-script@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            const getTestingTags = require('./scripts/getTestingTags.js');
            const tagsToTest = await getTestingTags();
            const matrix-input = { include: tagsToTest.map(tag => ({tag})) }
            core.setOutput("matrix-input", JSON.stringify(matrix-input));
            console.log("matrix-input: ", matrix-input);

  start_workflow:
    name: Trigger Test Matrix
    strategy:
      matrix: ${{ fromJSON(needs.get-testing-tags.outputs.matrix-input) }}
    needs: get-testing-tags
    runs-on: ubuntu-latest
    steps:
      - name: Create a workflow dispatch event with ${{ matrix.tag }}
        uses: actions/checkout@v2.3.3
        with:
          ref: ${{ matrix.tag }}
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run test:functional:build:prod
      - name: Run TestCafe Tests
        run: npm run test:functional:ci:prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: craftech-io/slack-action@v1
        with:
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: failure
        if: failure()
