name: Alloy Prod
on:
  schedule:
    - cron: "45 20 * * 1-6"
  workflow_dispatch:
permissions:
  contents: read
  issues: read
  packages: none
env:
  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
  SAUCE_CAPABILITIES_OVERRIDES_PATH: "sauceLabsCapabilities.json"
  SAUCE_JOB: "Alloy Prod Workflow"
  ALLOY_ENV: prod

jobs:
  get-testing-tags:
    name: Fetch releases
    runs-on: ubuntu-latest
    outputs:
      matrixInput: ${{ steps.list-tags.outputs.matrixInput }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install @octokit/rest semver
      - name: Upload sauce configs
        uses: actions/upload-artifact@v4
        with:
          name: sauce-config
          path: .sauce
      - name: Upload sauce ignore
        uses: actions/upload-artifact@v4
        with:
          name: sauce-ignore
          path: .sauceignore
      - name: Retrieve tags
        id: list-tags
        uses: actions/github-script@v7
        with:
          script: |
            const path = require('path');
            const getTestingTagsPath = path.resolve(process.env.GITHUB_WORKSPACE, 'scripts', 'getTestingTags.js');
            const { default: getTestingTags } = await import(getTestingTagsPath);
            const tagsToTest = await getTestingTags();
            const matrixInput = { include: tagsToTest.map(tag => ({tag})) };
            core.setOutput("matrixInput", JSON.stringify(matrixInput));
            console.log("matrixInput: ", matrixInput);

  alloy-prod-e2e:
    name: Alloy Functional Test
    needs: get-testing-tags
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      max-parallel: 14
      matrix: ${{ fromJSON(needs.get-testing-tags.outputs.matrixInput) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: refs/heads/${{ matrix.tag }}
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Cache dependencies
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}-${{ secrets.NPM_CACHE_VERSION }}
      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Store Alloy version
        uses: nyaa8/package-version@v1
      - name: Download sauce configs
        uses: actions/download-artifact@v4
        with:
          name: sauce-config
          path: .sauce
      - name: Download sauce ignore
        uses: actions/download-artifact@v4
        with:
          name: sauce-ignore
          path: .
      - name: Build
        run: |
          echo "PACKAGE_VERSION=$(npm pkg get version | tr -d '\"')" >> $GITHUB_ENV
          npm run test:functional:build:prod
        env:
          ALLOY_PROD_VERSION: ${{ env.PACKAGE_VERSION }}
      - name: Run Functional Tests
        uses: saucelabs/saucectl-run-action@v4.3.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
          env: |
            SAUCE_USERNAME=${{ secrets.SAUCE_USERNAME }}
            SAUCE_ACCESS_KEY=${{ secrets.SAUCE_ACCESS_KEY }}
            ALLOY_PROD_VERSION=${{ env.PACKAGE_VERSION }}
            NPM_PACKAGE_VERSION=${{ env.PACKAGE_VERSION }}
            ALLOY_ENV=prod
          config-file: ./.sauce/prod.yml
      - name: Notify on failure
        uses: craftech-io/slack-action@v1
        if: failure()
        with:
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: failure