name: Trigger Release
on:
  project_card:
    types: [moved]
  push:
    branches:
      - main
      - "v[0-9]+"
      - "v[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  triggerReleaseIfNeeded:
    name: "Trigger Release If Needed"
    runs-on: ubuntu-latest
    steps:
      - uses: adobe/project-card-release-automation/trigger-release@v2
        with:
          token: ${{ secrets.ALLOY_BOT_GITHUB_TOKEN }}
          workflowId: "deployRelease.yml"
          projectNumber: 7
